.about-somos {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.about-description {
    height: 50px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}