

#footer-newsletter {
    margin-top: 40px;
    padding: 10px 0;
    border-top: 2px solid #6E0406;
    background-color: #D3D3D3;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#footer-newsletter div {
    display: inherit;
}

#footer-newsletter h1 {
    margin: 0px 0px 10px 0px;
    font-size: 1.1rem;
}

#footer-input-newsletter {
    padding: 12px;
    width: 350px;
}

#footer-submit-newsletter {
    width: 140px;
    border: none;
    background-color: #6E0406;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
}

#footer-submit-newsletter:hover {
    background-color: #320000;
}

#footer-conteiner {
    padding-top: 20px;
    background-color:#DDD;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* #footer-itens {
    width: 350px;
    height: auto;
} */

#footer-itens .categories {
    font-weight: bold;
    font-size: 1rem;
}

#footer-itens a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

#footer-itens ul {
    padding: 0px;
    margin: 0px;
}

#footer-itens ul li {
    list-style-type: none;
    color: black;
    font-size: 0.8rem;
    margin: 20px 10px 20px 10px;
}

#footer-itens .social li a p {
    display: inline-block;
    margin-left: 10px;
}

#footer-social-icons {
    width: 35px;
    vertical-align: middle;
}

#footer-itens .ico-18 {
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

#footer-itens .under-age {
    margin: 0px;
    font-size: 0.7rem;
    font-weight: bold;
}

#footer-itens .logo {
    width: 200px;
    margin: 20px 0px 20px 0px;
}

#footer-itens .contacts {
    margin: 10px;
    font-size: 0.8rem;
}

#footer-content {
    background-color: #DDD;
}


#footer-content p {
    padding: 30px;
    margin: 0px;
    font-size: 0.7rem;
    text-align: justify;
}

@media only screen and (max-width: 576px) {
    #footer-input-newsletter {
        width: calc(100% - 150px);
    }
    #footer-itens .logo, #footer-itens .contacts {
        display: none;
    }
    #footer-itens .social li {display: inline-block;}
    #footer-itens .social li a p {display: none;}
}

@media only screen and (max-width: 992px) {
    #footer-input-newsletter {
        width: calc(100% - 150px);
    }
    #footer-itens .logo, #footer-itens .contacts {
        display: none;
    }
}

