

#footer-newsletter {
    margin-top: 50px;
    border-top: 2px solid #6E0406;
    background-color: #D3D3D3;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-input-newsletter {
    padding: 15px;
    width: 350px;
}

#footer-submit-newsletter {
    padding: 15px;
    width: 140px;
    border: 1px solid #6E0406;
    background-color: #6E0406;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
}

#footer-submit-newsletter:hover {
    background-color: #320000;
    border: 1px solid #320000;
}

#footer-conteiner {
    background-color:#DDD;
    display: flex;
    justify-content: space-evenly;   
}

/* #footer-itens {
    width: 290px;
    height: auto;
} */

#footer-itens .categories {
    font-weight: bold;
    font-size: 1.3rem;
}

#footer-itens a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

#footer-itens ul li {
    list-style-type: none;
    color: black;
    font-size: 1rem;
    margin: 20px;
}

#footer-social-icons {
    width: 40px;
    vertical-align: middle;
}



#footer-itens .logo {
    width: 200px;
    margin: 20px 0px 20px 0px;
}

#footer-itens .contacts {
    margin: 10px;
    font-size: 1rem;
}

#footer-content {
    background-color: #DDD;
}

#footer-content p {
    padding: 30px;
    margin: 0px;
    font-size: 0.8rem;
}




 /* Extra small <576px */
 @media only screen and (max-width: 576px) {}

 /* Small >576px */
 @media only screen and (min-width: 576px) {}
 
 /* Medium >768px */
 @media only screen and (min-width: 768px) {}
 
 /* Large >992px */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large >1200px */
 @media only screen and (min-width: 1200px) {} 
