

.footer-newsletter {
    margin-top: 50px;
    border-top: 2px solid #6E0406;
    background-color: #D3D3D3;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-input-newsletter {
    padding: 15px;
    width: 350px;
}

.footer-submit-newsletter {
    padding: 15px;
    width: 140px;
    border: 1px solid #6E0406;
    background-color: #6E0406;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
}

.footer-submit-newsletter:hover {
    background-color: #320000;
    border: 1px solid #320000;
}



.footer-conteiner {
    display: flex;
    justify-content: center;   
}


.footer-itens {
    width: 390px;
    height: 200px;
}


.footer-logo {
    width: 200px;
}

.footer-logo-text {
    font-family: 'Amita', cursive;
    font-size: 2rem;
    font-weight: bold;
}



.footer-itens ul li, a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px;
}




.footer-social-icons {
    width: 40px;
}


.footer-icons img {
    width: 40px;
}

.footer-icons p {
    margin: 0px;
    font-size: 0.9rem;
}
