


.container-mobile {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header-logo-mobile{
    width: 180px;
}

.header-img-user-desktop {
    width: 40px;
    margin: 0px 5px;
    vertical-align: middle;
}

.header-img-user-mobile {
    width: 30px;
    margin: 0px 5px;
    vertical-align: middle;
}

.header-img-cart-mobile {
    width: 42px;
    margin: 0px 5px;
}

.header-shopping-cart {
    background-color: #6E0406;
    border-radius: 20px;
    display: flex;
    width: 66px;
    height: 30px;
    margin: 0px 5px;
}

.header-shopping-cart img {
    width: 22px;
    height: 22px;
    margin: 4px 6px;
}

.header-shopping-cart div {
    margin: 2px 0px;
    background-color: #FFF;
    border-radius: 20px;
    width: 25px;
    height: 25px;
}

.header-shopping-cart p {
    margin: 0px;
    padding: 3px 0px;
    font-size: 1rem;
    text-align: center;
}

.header-enter {
    display: inline-block;
    vertical-align: middle;
}

.header-enter p {
    margin: 0px;
    font-size: 0.9rem;
}


.header-favorite p {
    display: inline-block;
    margin: 0px;
    font-size: 0.9rem;
}





.header-search-mobile{
    margin: 0px 5px 10px 5px;
    padding-left: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.header-search-mobile input {
    border:0;
    padding: 0px 0px 5px 10px;
}

.header-search-mobile button {
    background-color: #6E0406;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    font-weight: bold;
    border:none;
    float:right;
    padding: 7px 7px;
    cursor: pointer;
}












#header-box {
    width: 100%;
}

.top {
    height: auto;
    background-color: rgba(110, 4, 6);
    color: #FFFFFF;
    font-size: 0.85rem;
}

.top p{
    margin:0px;
    padding-left: 10px; 
}

#header-box .logo-site {
    margin: 10px 0px;
}

#header-box .logo-site img {
    width: 160px;
}

#header-conteiner {
    /* width: calc(100% - 40px); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-conteiner a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}



.header-input-box{
    padding-left: 5px;
    border: 2px solid #ddd;
    /* border-radius: 20px; */
    width: 500px;
}

.header-input-box input {
    display:inline-block;
    outline: 0;
    border: none;
    /* width: 200px; */
    padding: 2px 0px 0px 15px;
}

.header-input-box button {
    background-color: #6E0406;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    color: #fff;
    font-weight: bold;
    border:none;
    float:right;
    padding: 11px 11px;
    cursor: pointer;
}

.header-input-box button:hover {
    background-color: #320000;
}









#nav-conteiner {
    background-color: rgba(211, 211, 211, 0.5);
    border-bottom: 2px solid #6E0406;
}

#nav-conteiner nav {
    display: flex;
    justify-content: space-evenly;
}

#nav-conteiner nav div {
    text-align: center;
    width: 15%;
}

#nav-conteiner nav div:hover {
    background-color: rgba(110, 4, 6, 0.8);
    width: 15%;
}

#nav-conteiner nav div a {
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
}

#header-categories {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    color: #320000;
    font-size: 0.9rem;
    font-weight: bold;
}

#header-categories-img {
    width: 30px;
    margin-top: 7px;
}



  #dropdown {
    position: relative;
    display: inline-block;
  }
  
  #dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #dropdown-content a {
    color: black;
    padding: 18px 5px;
    text-decoration: none;
    display: block;
  }
  
  #dropdown-content a:hover {background-color: #ddd;}
  
  #dropdown:hover #dropdown-content {display: block;}










 /* Extra small <576px */
 @media only screen and (max-width: 576px) {

    #header-conteiner {display: none;}



    #nav-conteiner nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 2px solid #6E0406;
    }
    #nav-conteiner nav div {
        width: 100%;
        border-top: 1px solid #ddd;
    }
    #nav-conteiner nav div:hover {
        width: 100%;
    }
    #nav-conteiner nav div img {
        display: none;
    }
    #header-categories {
        margin: 5px;
    }

 }

 /* Small >576px */
 @media only screen and (min-width: 576px) and (max-width: 991px) {

    #header-conteiner {display: none;}



    #nav-conteiner nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 2px solid #6E0406;
    }
    #nav-conteiner nav div {
        width: 100%;
        border-top: 1px solid #ddd;
    }
    #nav-conteiner nav div:hover {
        width: 100%;
    }
    #nav-conteiner nav div img {
        display: none;
    }
    #header-categories {
        margin: 5px;
    }


 }
 
 /* Medium >768px */
 /* @media only screen and (min-width: 768px) {

    .header-mobile {display: none;}

 } */
 
 /* Large >992px */
 @media only screen and (min-width: 992px) {
    .header-mobile {display: none;}
     #dropdown {display: none;}
 }
 
 /* Extra large >1200px */
 @media only screen and (min-width: 1200px) {} 