
div#interface{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* max-width: 1366px; monitores de 18,5 polegadas
    max-height: 768px; */
}

.spacing{
    margin-bottom: 60px;
}

/* Estilização do Slide Show */

div.banner{
    width: 100%;
    height: 75vh;
    animation: slide 10s infinite;
    animation-direction: alternate;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@keyframes slide {
    0%, 30%{
        background-image: url(../img/cheers.jpg);
    }

    35%, 65%{
        background-image: url(../img/red-wine.jpg);
    }

    70%, 100%{
        background-image: url(../img/whisky2.jpg);
    }
}

/* Fim do Slide Show */

/* Seção de qualidade do serviço */

section{
    display: flex;
    justify-content: space-between;
    
}

section.service{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #6E0406;
    color: #fff;
    text-align: center;
    align-items: center;
}

section.service div{
    width: 7%;
    height: 10vh;
    margin: 20px;
}

section.service div img{
    position: relative;
    width: 6vw;
}

section.service div:nth-child(1) img{
    position: relative;
    width: 5.3vw;
}

section.service div:nth-child(even){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    height: 10vh;
    margin: 20px;
}

.basis{
    flex-basis: 12%;
}

/* Fim da qualidade do serviço */

/* Seção de produtos */

main{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

main section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    width: 80%;
    align-self: center;
    grid-gap: 60px;  
    box-sizing: content-box;
    
}

div.titulos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/3;
}

hr{
    border: none;
    width: 35%;
    height: 3vh;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
}

div.titulos h1{
    display: flex;
    font-size: 2.5rem;
    
}

main section div.box{
  
  height: 37vh;
  grid-column: 1;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
 
}

section div.box a img{
    grid-row: 1/12;
    width: 100%;
    height: 100%;
    
}

.main-gallery{
    grid-row: 2/4;
    height: 35vh;
    justify-content: center;
    grid-column: 2;
}

.gallery-cell{
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    align-self: center;
    width: 25%;
    height: 37vh; 
    margin: 0px;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
    
}

.gallery-cell img{   
    width: 100%;
    grid-row: 2/9;
    height: 100%;
    
}

.gallery-cell p{
    align-self: flex-start;
    background:  rgba(0,0,0,0.5);
    padding: 5px;
    color: white;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

.gallery-cell label{
    grid-column: 1;
    grid-row: 10;
    text-align: center;
    color: #320000;
}

.gallery-cell button{
    grid-column: 1;
    grid-row: 11/12;
    width: 80%;
    margin: 0 auto;
    border: none;
    padding: 5px;
    background: rgba(0,0,0,0.5);
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
}

.gallery-cell button:hover{
    background-color: rgba(110, 4, 6, 0.9);
    
}

/* Fim da seção de produtos */

/* removing dots */
.flickity-page-dots {
    display: none;
  }

/* smaller, dark, rounded square */
.flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background:  rgba(0,0,0,0.5);
  }
  .flickity-prev-next-button:hover {
    background: #6E0406;
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: white;
  }
  .flickity-prev-next-button.no-svg {
    color: white;
  }
  /* position outside */
  .flickity-prev-next-button.previous {
    left: -30px;
  }
  .flickity-prev-next-button.next {
    right: -30px;
  }

/* Extra small <576px */
@media only screen and (max-width: 375px) {
    div.banner{
        height: 30vh;
        width: 100%;
        background-size: 100% 100%;
    }

    section.service{
        display: none;
    }

    main section{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr 1fr;
        width: 100%;
        align-self: center;  
        box-sizing: content-box;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
        justify-content: center;
    } 
    
    div.titulos{
        display: flex;
        grid-column: 1/4;
        justify-content: center;
        grid-row: 1;
    }

    hr{
        display: none;
    }

    div.titulos h1{
        font-size: 1.5rem;
        padding-bottom: 5px;
        border-bottom: 3px #6E0406 solid;
    }

     /* div.titulos::after{
        content: '';
        width: 140px;
        margin: 10px;
        height: 4px;
        background: #6E0406;
        
    }  */

    main section div.box{
        display: none;   
    }   

    .main-gallery{
        height: 35vh;
        grid-row: 2;
        grid-column: 1/4;
        max-width: 100%;
    }
   
    .gallery-cell{
        
        width: 100%;
        height: 37vh; 
        
        
    }
    
    
}
