* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

div#interface{
    width: 100%;
    /* max-width: 1366px; monitores de 18,5 polegadas
    max-height: 768px; */
    
}

main{
    width: 80%;
    margin: 0 auto;
}

.spacing{
    margin-bottom: 40px;
}

/* Estilização do Slide Show */

div.banner{
    width: 100%;
    height: 71vh;
    animation: slide 10s infinite;
    animation-direction: alternate;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

@keyframes slide {
    0%, 30%{
        background-image: url(../img/cheers.jpg);
    }

    35%, 65%{
        background-image: url(../img/red-wine.jpg);
    }

    70%, 100%{
        background-image: url(../img/whisky2.jpg);
    }
}

/* Fim do Slide Show */

section{
    display: flex;
    justify-content: space-between;
}

/* Seção de qualidade do serviço */

section.service{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #6E0406;
    color: #fff;
    text-align: center;
    
}

section div img{
    width: 280px;
}

section.service div:nth-child(odd){
    width: 7%;
    height: 10vh;
    margin: 20px;
}

section.service div img{
    position: relative;
    width: 6vw;
}

section.service div:nth-child(even){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    height: 10vh;
    margin: 20px;
}

.basis{
    flex-basis: 12%;
}


/* Fim da qualidade do serviço */

/* Seção de produtos */

.main-gallery{
    width: 60vw;
}

.gallery-cell{
    width: 20%;
    margin-right: 10px;
    height: 35vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    counter-increment: gallery-cell;
}



.box {
    width: 18%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}


hr{
    border: none;
    width: 50%;
    height: 3vh;
    background-color: rgba(211, 211, 211, 1);
    margin-bottom: 30px;

}

div.titulos{
    display: flex;
    align-items: baseline;
    
}

div.titulos h1{
    display: flex;
    margin: 0 100px;
    font-size: 2rem;
    
}

/* Fim da seção de produtos */










