#produtos aside{
    width: 20%;
    margin-left: 10%;
    margin-top: 5%;
    
    }
    
    #produtos section{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    
    #produtos section article{
    width: 30%;
    
    
    }
    
    #produtos {
     display: flex;
    margin-top: 5%;
    }
    
    .img-produto {
    width: 170px;
    
    }
    
    #Catalogo article{
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    }
    
    #Catalogo p{
        width: 100%;
        text-align: center;
    }
    
    #Catalogo p, #Catalogo button{
        display: block;
        margin: 0 auto;
    }
    
    
    @media (max-width: 576px){
    
        #produtos aside {display: none;}
       
        #produtos section article {
    width: 100%;
    
        }
     
        #produtos section {
            margin: 0 auto;
        }
    }
    
    @media (max-width: 992px) and (min-width: 576px){
    
        #produtos aside {
            width: 30%;
        }
    
        #produtos section article {
            width: 40%;
        }
    
    }
     
    