body {
    font-family: 'Montserrat', sans-serif;  /* fonte padrão para o corpo das páginas */
    font-size: 22px;                        /* tamanho de fonte padrão para o corpo das páginas - controlar o restante com "rem" */
    background-color: #FFFFFF;            /* cor de fundo padrão para o corpo das páginas */ 
    margin: 0;                              /* reset de margens */
    padding: 0;                             /* reset de paddings */
}
/* reset de margens */

header img {
    width: 200px;
    display: inline-block;
    text-align: center;
}


footer {
    background-color: #A6826D;
    font-family: monospace;
    font-size: 12px;
    text-align: justify;
    color: white;
}


    

