.banner {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: #320000;
    font-weight: bold;
}

header img {
    width: 200px;
    display: inline-block;
    text-align: center;
}

body {
    background-color: #D3D3D3;
}

.box {
    width: 200px;
    height: 100px;
    background-color: #320000;
    display: inline-block;
    margin: 20px;
    background-size: cover;
}

footer {
    background-color: #A6826D;
    font-family: monospace;
    font-size: 12px;
    text-align: justify;
    color: white;
}