/* html{
    A cada 1rem será considerado 10px inclusive pode ser usado no padding ex: padding: 20px; = padding: 2rem;
    font-size: 62.5%;
} */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;  /* fonte padrão para o corpo das páginas */
    font-size: 22px;                        /* tamanho de fonte padrão para o corpo das páginas - controlar o restante com "rem" */
    background-color: #FFFFFF;            /* cor de fundo padrão para o corpo das páginas */ 
    margin: 0;                              /* reset de margens */
    padding: 0;                             /* reset de paddings */
 }                                          /* Quando for formatar as tags seguir essa ordem:
                                                1.posicionamento
                                                2.Box model
                                                3.tipografia
                                                4.Visual*/

h1 {
    margin: 0px;
    font-size: 1.5rem;
}

#interface{
    width: 100%;
}
