
.about {
    width: 85%;
    margin: 0 auto ;
}

.about h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #320000;
}

.about p {
    font-size: 1.1rem;
}


@media (max-width: 767px) {
    
    .about p {
        font-size: 1.3rem;
    }

}