.alert {
    text-align: center;
	padding: 15px;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 10px 0px;
	font-size: 0.9rem;
}
.error {
	border-color: #ebccd1;
	color: #a94442;
	background-color: #f2dede;
}


#form-register-client {
    font-size: 1rem;
    color: #320000;
}

#form-register-client h1 {
    text-align: center;
}

#form-register-client p {
    font-weight: bold;
}

#form-register-client label {
    font-size: 1rem;
    font-weight: bold;
    margin: 0px 5px 10px 5px;
}

#form-register-client input {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 14px;
    margin: 6px 5px 15px 5px;
}

#form-register-client input:focus {
    border-color: #000;
    /* transition: 1s; */
}

#form-register-client ::placeholder {
    color: #baa;
}

#form-register-client .length-l {width: 350px;}
#form-register-client .length-m {width: 200px;}

#form-register-client .register-submit {
    text-align: center;
}

#form-register-client button {
    width: 300px;
    padding: 15px;
    border-radius: 2px;
    border: none;
    background-color: #6E0406;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

#form-register-client button:hover {
    background-color: #320000;
}

#conteiner-form  {
    /* width: 60%; */
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
}



@media only screen and (max-width: 992px) {
    #form-register-client .length-l {width: 90vw;}
    #form-register-client .length-m {width: 90vw;}
    #form-register-client button {width: 97vw;}
}

