#empty {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
}

#empty h1 {
    color: #6E0406;
    /* border-bottom: #6Es0406 solid 1px; */
}

#empty p {
    padding: 10px;
    font-size: 0.9rem;
}

.info {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-left: 4px solid #721c24;
    border-radius: 4px;
}


#panel {
    width: 90%;
    margin: 0 auto;
}

#panel h1 {
    text-align: center;
}

#panel button {
    /* width: 140px; */
    border: 1px solid #FFF;
    background-color: #320000;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
}


.main-nav nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 20px;
}

.main-nav nav ul li {
    border: 1px solid #aaa;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: none;
    text-align: center;
    width: 100px;
    margin: 0 1px;
    padding: 8px;
    font-size: 0.85rem;
    width: 110px;
    height: 35px
}

.main-nav nav ul .active {
    color: #FFFFFF;
    background-color: rgba(110, 4, 6, 0.8);
}

.main-nav nav ul li a {
    color: inherit;
    text-decoration: none;
}

#logout {
    border: none;
    color: red;
    font-size: 0.75rem;
    font-weight: bold;
}

.main-container p {
    margin: 0;
    font-size: 0.95rem;
    color: #5c5b5b;
}

.main-container ul {
    font-size: 0.85rem;
}

.main-container li {
    margin: 7px;
    color: #5c5b5b;
}

.main-container h5 {
    margin: 10px 0px;
    color: #5c5b5b;
}

.address ul {
    list-style-type: none;
}





#tb-list-order {
    border-collapse: collapse;
    width: 80%;
}

#tb-list-order thead {
    border-collapse: collapse;
    background-color: #ccc;
    width: 80%;
}

#tb-list-order tr:nth-child(even) {
    background-color: inherit;
}

#tb-list-order thead td {
    border: 1px solid #ccc;
    padding: 4px;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
}

#tb-list-order tbody td {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
}

#tb-list-order .r-info {
    text-align: end;
    padding: 7px;
}

#tb-list-order .price {
    background-color: #eee;
    font-weight: 700;
}


#tb-list-order-add {
    border: none;
}







.main-container {
    border: 1px solid #aaa;
    padding: 30px;
    min-height: 350px;
}

.main-container table {
    border-collapse: collapse;
    width: 100%;
}

.main-container thead {
    font-size: 0.8rem;
    font-weight: bold;
}

.main-container tr:nth-child(even) {
    background-color: #eee;
}

.main-container thead td {
    border: 1px solid #ccc;
    padding: 7px;
    margin: 0;
    font-size: 0.9rem;
}

.main-container tbody td {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0;
    font-size: 0.9rem;
}

.main-container span {
    display: none;
    font-size: 0.8rem;
    font-weight: bold;
}

.main-container input {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 7px;
    margin: 5px;
    width: 220px;
}









#lb2 {
    color: #5c5b5b
}


.form-address-edit label {
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
    width: 147px;
    border-bottom: 1px solid #ddd;
}

.form-address-edit p {
    display: inline-block;
    font-size: 0.9rem;
}

.form-address-edit fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
    margin-top: 20px;
}







#myButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #7a2811 5%, #bc3315 100%);
	background-color:#7a2811;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

#myButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #7a2811 100%);
	background-color:#bc3315;
}
#myButton:active {
	position:relative;
	top:1px;
}










@media (max-width: 767px) {

    #empty {
        width: 90%;
    }

    #panel {
        width: 98%;
    }

    .main-container {
        padding: 7px;
    }
    .main-container span {
        display: block;
    }
    .main-container tbody td {
        padding: 10px;
    }
    .table-mobile thead {
      display: none;
    }
    .table-mobile td:not(:first-child) {
      display: block;
    }

    .form-address-edit label {
        display: block;
        margin-top: 13px;
    }
    .form-address-edit p {
        display: block;
    }

    #p2, #lb2 {
        display: inline-block;
    }

    #tb-list-order {
        width: 100%;
    }
  }