.page-item {
    display: inline-block;
  }

  .active {
    background-color: rgba(190, 0, 3, 0.7);
  }
  
  .page-item .page-link {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .page-item a:hover:not(.active) {
      background-color: rgba(190, 0, 3, 0.5);
    }


    #produtos aside{
    width: 20%;
    margin-left: 10%;    
    }
    
    #produtos section{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #produtos section article{
    width: 30%;
    border: 1px solid #eee;
    border-radius: 7px;    
    }
    
    #produtos {
     display: flex;
    margin-top: 45px;
    }
    
    .img-produto {
    /* width: 170px; */
    height: 200px;
    
    }
    
    #Catalogo article{
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    }
    
    #Catalogo p{
        width: 100%;
        text-align: center;
    }

    #Catalogo .btn {
        text-decoration: none;
        margin: 7px;
        padding: 7px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 70%;
        font-size: 0.9rem;
        border-radius: 10px;
        opacity: 0.7;
    }

    #Catalogo .btn:hover {
        opacity: 1;
    }
    
    #Catalogo p, #Catalogo button{
        display: block;
        /* margin: 0 auto; */
    }

    #Categorias{
        margin: 0px;
        width: 100%;
        color: #6E0406;
        border-bottom: #6E0406 solid 1px;
        
    }

    .product-name {
        font-size: 0.9rem;
    }

    .dropdown-menu li{
        list-style: none;

    }

    #Categoria:hover{
        font-weight: bold;
    }


    .dropdown-menu ul{
        padding: 0%;
        margin-top: 8px;
    }

    .dropdown-menu li a{
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    
    
    @media (max-width: 576px){
    
        #produtos aside {display: none;}
       
        #produtos section article {
    width: 100%;
    
        }
     
        #produtos section {
            margin: 0 auto;
        }
    }
    
    @media (max-width: 992px) and (min-width: 576px){
    
        #produtos aside {
            width: 30%;
        }
    
        #produtos section article {
            width: 40%;
        }
    
    }
     
    