#produtos aside{
    width: 20%;
    margin-left: 10%;
    margin-top: 5%;
    
    }
    
    #produtos section{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    
    #produtos section article{
    width: 30%;
    
    
    }
    
    #produtos {
     display: flex;
    margin-top: 5%;
    }
    
    .img-produto {
    width: 170px;
    
    }
    
    #Catalogo article{
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    }
    
    #Catalogo p{
        width: 100%;
        text-align: center;
    }
    
    #Catalogo p, #Catalogo button{
        display: block;
        margin: 0 auto;
    }

    #Categorias{
        margin-bottom: 0px;
        width: 100%;
        color: #6E0406;
        border-bottom: #6E0406 solid 1px;
        
    }

    .dropdown-menu li{
        list-style: none;

    }

    #Categoria1:hover{
        font-weight: bold;
    }

    #Categoria2:hover{
        font-weight: bold;
    }

    #Categoria3:hover{
        font-weight: bold;
    }

    #Categoria4:hover{
        font-weight: bold;
    }

    #Categoria5:hover{
        font-weight: bold;
    }

    #Categoria6:hover{
        font-weight: bold;
    }

    #Categoria7:hover{
        font-weight: bold;
    }


    .dropdown-menu ul{
        padding: 0%;
        margin-top: 8px;
    }

    .dropdown-menu li a{
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    
    
    @media (max-width: 576px){
    
        #produtos aside {display: none;}
       
        #produtos section article {
    width: 100%;
    
        }
     
        #produtos section {
            margin: 0 auto;
        }
    }
    
    @media (max-width: 992px) and (min-width: 576px){
    
        #produtos aside {
            width: 30%;
        }
    
        #produtos section article {
            width: 40%;
        }
    
    }
     
    